.box-content {			
    padding-left: 1.25em;
    white-space: nowrap;
}
.info-box {
    background: #fff;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 3em;
    border: 1px solid #ede8f0;
    border-radius: 5px;
}
.big {
    display: block;
    font-size: 2em;
    line-height: 150%;
    color: #1b253d;
}

.content-head	{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.info-boxes {
	padding: 3em 0 2em;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	grid-gap: 2em;
}