<!-- <section class="info-boxes">
  <div class="content" *ngFor="let order of orders">
    <div class="info-box">
      <div class="box-content">
        <span class="big">{{ order }}</span>
      </div>
    </div>
  </div>
</section> -->

<!-- <div>
    <table>
        <tr>
            <td *ngFor="let order of orders">{{ order }}</td>
        </tr>
    </table>
</div> -->

<!-- <ul class="list-group">
  <li *ngFor="let post of posts" class="list-group-items">{{ post.title }}</li>
</ul> -->
<section class="info-boxes">
  <div class="content" *ngFor="let order of orders">
    <div class="info-box">
      <div class="box-content">
        <span class="big">{{ order.orderId }}</span>
        {{ order.allocAmount }}
      </div>
    </div>
  </div>
</section>